{% set keyspaces = []  %}
{%- for ks in s3_backup_keyspaces.split(",") -%}
{% set ignored = keyspaces.append( "/data/cassandra/data/" + ks + "/" ) %}
{% endfor %}

DAEMON_OPTS="-k {{ s3_backup_access_key }} -s {{ s3_backup_secret_key }} -r -e '/snapshots/' -a -B -n {{ inventory_hostname }} {{ s3_backup_bucket }} {{ keyspaces | join(' ') }}"
RUN=yes
