{% set seeds = []  %}
{%- for node in groups['cassandra_nodes']  -%}
{%- if hostvars[node].seed == "true" -%}
{% set ignored = seeds.append( hostvars[node].node_ip ) %}
{% endif %}
{% endfor %}
{{ seeds | join(',') }}
